<div class="row">
    <div class="col-3">
        <div class="sticky-top">
        <div class="list-group">
            <a class="list-group-item list-group-item-action"
               [ngClass]="{ 'active-category': selectedCategory === '' }"
               (click)="filterByCategory('')">
                All Products
            </a>
            <a *ngFor="let c of categories" 
               class="list-group-item list-group-item-action"
               [ngClass]="{ 'active-category': selectedCategory === c.category }"
               (click)="filterByCategory(c.category)">
                {{c.category}}
            </a>
        </div>
    </div>
    </div>

    <div class="col-9">
        
        <div class="row row-cols-1 row-cols-md-3 g-4">  
            <ng-container *ngFor="let p of filteredProducts; let i = index">
                <div class="col">
                    <div class="card h-100"> 
                        <img [src]="p.image" class="card-img-top" alt="Product image">
                        <div class="card-body">
                            <h5 class="card-title">{{p.title}}</h5>
                            <p class="card-text">{{p.price | currency:'USD'}}</p>
                        </div>
                        <div class="card-footer">
                            <button 
                            class="btn btn-primary w-100">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>